<a href="https://colab.research.google.com/github/biancasipas/BancosDadosSQL/blob/main/C%C3%B3pia_de_bd_aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados - Prof. S√©rgio Lifschitz

---

## Exerc√≠cios da Aula 1: Introdu√ß√£o √† Linguagem SQL DML (consultas)


---


ANTES de come√ßar,  ‚ùó **n√£o esquecer** ‚ùó de, antes de mais nada, SALVAR este notebook no ambiente COLAB no drive da tua pr√≥pria conta GOOGLE.

## PASSO 1: Instala√ß√£o e Configura√ß√£o do PostgreSQL

Basta dar PLAY que o script abaixo instalar√° o SGBD PostgreSQL

In [2]:
%pip uninstall sqlalchemy -y
%pip install sqlalchemy

Found existing installation: SQLAlchemy 2.0.46
Uninstalling SQLAlchemy-2.0.46:
  Successfully uninstalled SQLAlchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.46-cp314-cp314-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: greenlet>=1 in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from sqlalchemy) (4.15.0)
Using cached sqlalchemy-2.0.46-cp314-cp314-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 26.0 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (2.0.46)
Requirement already satisfied: psycopg2-binary in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 26.0 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import sqlalchemy
print("SQLAlchemy funcionando")

SQLAlchemy funcionando

## PASSO 2: Preparo do Esquema Relacional CARROS

Por favor, basta dar PLAY aqui tamb√©m pois a cria√ß√£o de esquemas relacionais √© assunto da AULA 2. Os scripts (programas) abaixo preparam o ambiente (Esquema e Inst√¢ncia de testes) para realizar consultas SQL no seu pr√≥prio  COLAB.

Baixe o esquema no seguinte link: https://drive.google.com/file/d/1pjKbGImerDoBxRCUTuus-Mg652m9hhQJ/view?usp=sharing

Coloque o esquema na pasta padr√£o do seu Google Drive e siga as instru√ß√µes abaixo.

In [7]:
# [2.1] Monta o diret√≥rio do Google Drive no seu Colab
#from google.colab import drive
#drive.mount('/content/drive')
# Eu na vou usar Colab e preferi usar Visual Studio

In [8]:
#psql -U postgres -d postgres -f esquema_carros.sql

In [54]:
import psycopg2

conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="1234Bia.",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

cur.execute("DROP SCHEMA IF EXISTS carros CASCADE;")
cur.execute("CREATE SCHEMA carros;")

with open(r"C:\Users\Bianca Maria\Documents\BancosDadosSQL\esquema_carros.sql","r",
    encoding="utf-8") as file:
    sql = file.read()
    cur.execute(sql)

conn.commit()

print("Arquivo SQL executado com sucesso!")

cur.close()
conn.close()

Arquivo SQL executado com sucesso!

In [55]:
import subprocess
import os

# üîê senha
os.environ["PGPASSWORD"] = "1234Bia."

# üìÇ caminho correto do psql (vers√£o 18)
psql = r"C:\Program Files\PostgreSQL\18\bin\psql.exe"

# üìÇ caminho do seu arquivo sql
arquivo_sql = r"C:\Users\Bianca Maria\Documents\BancosDadosSQL\esquema_carros.sql"

# üî• DROP SCHEMA
subprocess.run([
    psql,
    "-h", "localhost",
    "-U", "postgres",
    "-d", "postgres",
    "-c", "DROP SCHEMA IF EXISTS carros CASCADE;"
])

# üî• CREATE SCHEMA
subprocess.run([
    psql,
    "-h", "localhost",
    "-U", "postgres",
    "-d", "postgres",
    "-c", "CREATE SCHEMA carros;"
])

# üî• EXECUTAR ARQUIVO
subprocess.run([
    psql,
    "-h", "localhost",
    "-U", "postgres",
    "-d", "postgres",
    "-a",
    "-f", arquivo_sql
])

CompletedProcess(args=['C:\\Program Files\\PostgreSQL\\18\\bin\\psql.exe', '-h', 'localhost', '-U', 'postgres', '-d', 'postgres', '-a', '-f', 'C:\\Users\\Bianca Maria\\Documents\\BancosDadosSQL\\esquema_carros.sql'], returncode=0)

In [56]:
os.environ["PGPASSWORD"] = "1234Bia."

resultado = subprocess.run(
    [
        psql,
        "-h", "localhost",
        "-U", "postgres",
        "-d", "postgres",
        "-a",
        "-f", arquivo_sql
    ],
    capture_output=True,
    text=True
)

print(resultado.stdout)
print(resultado.stderr)

SET SCHEMA 'carros';
SET
CREATE TABLE carros.automoveis (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    fabricante character(20),
    modelo character(20),
    preco_tabela numeric(8,2),
    pais character(20)
);
CREATE TABLE carros.consumidores (
    cpf character(12) NOT NULL,
    nome character(15),
    sobrenome character(15),
    cidade character(25),
    estado character(2)
);
CREATE TABLE carros.garagens (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    cgc integer NOT NULL,
    quantidade integer
);
CREATE TABLE carros.negocios (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    cgc integer NOT NULL,
    cpf character(12) NOT NULL,
    data date,
    preco numeric(8,2)
);
CREATE TABLE carros.revendedoras (
    cgc integer NOT NULL,
    nome character(20),
    estado character(2),
    cidade character(25),
    proprietario character(12)
);
CREATE FUNCTION carros.conta(cgc_in integer, ano_in character) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    total integer;
BEGIN
    select sum(quantidade) into total
    from garagens g where g.cgc = cgc_in and g.ano = ano_in;
    return total;
END;
$$;
CREATE FUNCTION carros.increment(i integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
        BEGIN
                RETURN i + 1;
        END;
$$;
CREATE FUNCTION carros.tem_estoque() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    qtd integer;
BEGIN
    qtd:=0;
    select quantidade into qtd from garagens g
    where g.cgc = New.cgc and g.codigo = New.codigo and g.ano = New.ano;
    RAISE INFO 'qtd=%', qtd;
    if (qtd<=0) or qtd is NULL then
        RAISE EXCEPTION 'Nao tem o carro % - ano % em estoque', NEW.codigo, NEW.ano;
    RETURN NULL;
    end if;
    RETURN NEW;
END;
$$;
INSERT INTO carros.automoveis VALUES (1022, '85', 'Ford                ', 'Del Rey             ', 4800.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1051, '88', 'Fiat                ', 'Elba                ', 6200.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1051, '89', 'Fiat                ', 'Elba                ', 7600.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1023, '87', 'Ford                ', 'Escort              ', 7000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1023, '88', 'Ford                ', 'Escort              ', 7800.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1013, '95', 'Volkswagen          ', 'Kombi               ', 12000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1061, '94', 'General Motors      ', 'Monza               ', 18000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1014, '95', 'Volkswagen          ', 'Parati              ', 15200.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1071, '93', 'Gurgel              ', 'BR800               ', 6500.00, 'Brasil              ');
INSERT INTO carros.automoveis VALUES (1081, '90', 'Honda               ', 'Accord              ', 37000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1281, '94', 'Hyundai             ', 'Excel               ', 19500.00, 'Coreia              ');
INSERT INTO carros.automoveis VALUES (1101, '92', 'Lada                ', 'Laika               ', 5500.00, 'Russia              ');
INSERT INTO carros.automoveis VALUES (1101, '93', 'Lada                ', 'Laika               ', 6200.00, 'Russia              ');
INSERT INTO carros.automoveis VALUES (1052, '93', 'Fiat                ', 'Tempra              ', 18800.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1111, '95', 'Suzuki              ', 'Sidekick            ', 36000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1102, '92', 'Lada                ', 'Niva                ', 7800.00, 'Russia              ');
INSERT INTO carros.automoveis VALUES (1071, '94', 'Gurgel              ', 'BR800               ', 7500.00, 'Brasil              ');
INSERT INTO carros.automoveis VALUES (1131, '95', 'Peugeot             ', '205                 ', 11400.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1053, '95', 'Fiat                ', 'Tipo                ', 13000.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1082, '95', 'Honda               ', 'Civic               ', 22870.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1141, '95', 'Audi                ', '80                  ', 52000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1142, '95', 'Audi                ', '100                 ', 60000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1151, '95', 'BMW                 ', '318                 ', 51000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1011, '90', 'Volkswagen          ', 'Apollo              ', 9000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1011, '92', 'Volkswagen          ', 'Apollo              ', 10600.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1014, '94', 'Volkswagen          ', 'Parati              ', 12400.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1061, '88', 'General Motors      ', 'Monza               ', 7500.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1052, '94', 'Fiat                ', 'Tempra              ', 20500.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1023, '89', 'Ford                ', 'Escort              ', 8300.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1051, '90', 'Fiat                ', 'Elba                ', 10800.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1023, '90', 'Ford                ', 'Escort              ', 9000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1021, '89', 'Ford                ', 'Belina              ', 8800.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1033, '95', 'Chevrolet           ', 'Corsa GL            ', 11950.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1011, '93', 'Volkswagen          ', 'Apollo              ', 11100.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1052, '95', 'Fiat                ', 'Tempra              ', 34000.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1161, '95', 'Volvo               ', '460                 ', 40000.00, 'Suecia              ');
INSERT INTO carros.automoveis VALUES (1171, '95', 'Daihatsu            ', 'Charade             ', 20000.00, 'Coreia              ');
INSERT INTO carros.automoveis VALUES (1181, '95', 'Porsche             ', '938 GTS             ', 180000.00, 'UK                  ');
INSERT INTO carros.automoveis VALUES (1132, '95', 'Peugeot             ', '405                 ', 30000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1133, '95', 'Peugeot             ', '605                 ', 55000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1282, '95', 'Hyundai             ', 'Elantra             ', 27000.00, 'Coreia              ');
INSERT INTO carros.automoveis VALUES (1162, '95', 'Volvo               ', '850                 ', 70000.00, 'Suecia              ');
INSERT INTO carros.automoveis VALUES (1191, '95', 'Mercedez Benz       ', 'C200                ', 60000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1122, '95', 'Renault             ', '19                  ', 25000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1022, '86', 'Ford                ', 'Del Rey             ', 6000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1023, '92', 'Ford                ', 'Escort              ', 9700.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1023, '93', 'Ford                ', 'Escort              ', 10800.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1051, '95', 'Fiat                ', 'Elba                ', 18300.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1061, '89', 'General Motors      ', 'Monza               ', 9800.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1103, '92', 'Lada                ', 'Samara              ', 8000.00, 'Russia              ');
INSERT INTO carros.automoveis VALUES (1152, '95', 'BMW                 ', '325                 ', 68000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1153, '95', 'BMW                 ', '530                 ', 93000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1201, '95', 'Ferrari             ', '512                 ', 330000.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1211, '95', 'Land Rover          ', 'Defender            ', 35000.00, 'Inglaterra          ');
INSERT INTO carros.automoveis VALUES (1221, '95', 'Mitsubishi          ', 'Pajero              ', 45000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1231, '95', 'Mazda               ', '626                 ', 36000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1123, '95', 'Renault             ', 'Nevada              ', 27000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1241, '95', 'Rolls Royce         ', 'Corniche            ', 499000.00, 'Inglaterra          ');
INSERT INTO carros.automoveis VALUES (1112, '95', 'Suzuki              ', 'Canvas              ', 15000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1192, '95', 'Mercedez Benz       ', 'C280                ', 70000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1251, '95', 'Toyota              ', 'Paseo               ', 35000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1043, '95', 'Citroen             ', 'ZX                  ', 30000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1021, '88', 'Ford                ', 'Belina              ', 8000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1104, '92', 'Lada                ', 'Pantanal            ', 8500.00, 'Russia              ');
INSERT INTO carros.automoveis VALUES (1023, '91', 'Ford                ', 'Escort              ', 14400.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1032, '92', 'Chevrolet           ', 'Chevette            ', 7200.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1081, '95', 'Honda               ', 'Accord              ', 48000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1022, '87', 'Ford                ', 'Del Rey             ', 7000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1012, '90', 'Volkswagen          ', 'Gol                 ', 7300.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1012, '92', 'Volkswagen          ', 'Gol                 ', 8000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1012, '94', 'Volkswagen          ', 'Gol                 ', 9300.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1031, '95', 'Chevrolet           ', 'Corsa Wind          ', 7350.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1051, '93', 'Fiat                ', 'Elba                ', 12600.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1261, '95', 'Nissan              ', 'Sentra              ', 38000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1113, '95', 'Suzuki              ', 'Vitara              ', 25000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1222, '95', 'Mitsubishi          ', 'Galant              ', 40000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1154, '95', 'BMW                 ', '840                 ', 147000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1232, '95', 'Mazda               ', 'MX                  ', 32000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1252, '95', 'Toyota              ', 'Corolla             ', 38000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1014, '93', 'Volkswagen          ', 'Parati              ', 10800.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1081, '93', 'Honda               ', 'Accord              ', 40000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1061, '93', 'General Motors      ', 'Monza               ', 16000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1061, '90', 'General Motors      ', 'Monza               ', 11000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1014, '90', 'Volkswagen          ', 'Parati              ', 8800.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1044, '95', 'Citroen             ', 'XM                  ', 65000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1124, '95', 'Renault             ', '21                  ', 29000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1202, '95', 'Ferrari             ', '348                 ', 215000.00, 'Italia              ');
INSERT INTO carros.automoveis VALUES (1233, '95', 'Mazda               ', 'Protege             ', 26000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1262, '95', 'Nissan              ', 'Pathfinder          ', 43000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1182, '95', 'Porsche             ', '921 Carrera         ', 140000.00, 'Inglaterra          ');
INSERT INTO carros.automoveis VALUES (1271, '95', 'Daewoo              ', 'Espero              ', 23000.00, 'Coreia              ');
INSERT INTO carros.automoveis VALUES (1041, '94', 'Citroen             ', 'AX                  ', 21000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1021, '87', 'Ford                ', 'Belina              ', 5700.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1212, '95', 'Land Rover          ', 'Discovery           ', 63000.00, 'Inglaterra          ');
INSERT INTO carros.automoveis VALUES (1114, '95', 'Suzuki              ', 'Swift               ', 20000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1193, '95', 'Mercedes Benz       ', 'E280                ', 85000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1172, '95', 'Daihatsu            ', 'Feroza              ', 28000.00, 'Coreia              ');
INSERT INTO carros.automoveis VALUES (1253, '95', 'Toyota              ', 'Previa              ', 68000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1194, '95', 'Mercedes Benz       ', 'S500                ', 170000.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1223, '95', 'Mitsubishi          ', 'Lancer              ', 29000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1022, '89', 'Ford                ', 'Del Rey             ', 9300.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1023, '94', 'Ford                ', 'Escort              ', 12500.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1014, '92', 'Volkswagen          ', 'Parati              ', 9800.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1254, '95', 'Toyota              ', 'Hilux               ', 52000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1115, '95', 'Suzuki              ', 'Samurai             ', 18000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1083, '95', 'Honda               ', 'Legend              ', 90000.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (99000, '02', 'Renault             ', 'Twingo              ', 11890.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1032, '93', 'Chevrolet           ', 'Chevette            ', 7900.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1032, '89', 'Chevrolet           ', 'Chevette            ', 7000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1032, '87', 'Chevrolet           ', 'Chevette            ', 6000.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1032, '84', 'Chevrolet           ', 'Chevette            ', 4300.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1012, '93', 'Volkswagen          ', 'Gol                 ', 8600.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1012, '95', 'Volkswagen          ', 'Gol                 ', 10500.00, 'Alemanha            ');
INSERT INTO carros.automoveis VALUES (1041, '95', 'Citroen             ', 'AX                  ', 25000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (99001, '02', 'Citroen             ', 'C5                  ', 16000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (88374, '99', 'Jac                 ', 'J3                  ', 4800.00, 'Brasil              ');
INSERT INTO carros.automoveis VALUES (957798, '02', 'Ford                ', 'Fiesta              ', 100000.00, 'Brasil              ');
INSERT INTO carros.automoveis VALUES (1300, '17', 'Fiat                ', 'Uno 2016            ', 50000.00, 'Brasil              ');
INSERT INTO carros.automoveis VALUES (1042, '19', 'Citroen             ', 'Xantia              ', 46000.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1121, '95', 'Renault             ', 'Twin                ', 11322.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (1020, '85', 'Ford                ', 'Del Rey             ', 4105.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (1306, '20', 'Suzuki              ', 'Jimmy               ', 66288.00, 'Japao               ');
INSERT INTO carros.automoveis VALUES (1308, '20', 'Peugeot             ', '2008                ', 65817.00, 'Franca              ');
INSERT INTO carros.automoveis VALUES (101, '89', 'Ford                ', 'Ka                  ', 50.00, 'EUA                 ');
INSERT INTO carros.automoveis VALUES (100, '90', 'Ford                ', 'Ka                  ', 100.00, 'EUA                 ');
INSERT INTO carros.consumidores VALUES ('6030-0      ', 'Joao           ', 'Nogueira       ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('5002-2      ', 'Antonio        ', 'Candido        ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('7450-0      ', 'Vitor          ', 'Assis Brasil   ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('9010-0      ', 'Danuza         ', 'Leao           ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('8999-9      ', 'Paulo          ', 'Moska          ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('7451-1      ', 'Marcos         ', 'Paulo          ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('5637-7      ', 'Roberto        ', 'Saturnino Braga', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('6228-8      ', 'Benedita       ', 'da Silva       ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('7101-1      ', 'Silvio         ', 'Santos         ', 'Sao Paulo                ', 'SP');
INSERT INTO carros.consumidores VALUES ('5112-2      ', 'Filipe         ', 'Pinheiro       ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('6789-9      ', 'Vicente        ', 'Celestino      ', 'Rio de Janeiro           ', 'RJ');
INSERT INTO carros.consumidores VALUES ('8981-1      ', 'Gilberto       ', 'Velho          ', 'Rio de Janeiro           ', 'RJ');

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

In [17]:
# Configurando o PostgreSQL na vari√°vel de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [19]:
# Carregando a extens√£o sql para usar o SQL pelo Google Colab
#%load_ext sql

In [21]:
%pip install ipython-sql psycopg2-binary

Requirement already satisfied: ipython-sql in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2-binary in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (2.9.11)
Requirement already satisfied: prettytable in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython-sql) (9.10.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\Users\Bianca Maria\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama>=0.4.4 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in C:\Users\Bianca Maria\AppData\Roaming\Python\Python314\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 26.0 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
%load_ext sql

## Lista de Exerc√≠cios para pr√°tica de SQL

Consultas simples sobre o esquema CARROS implantado no SGBD PostgreSQL

### Esquema relacional da base de dados Carros:

![image.png]()

Chaves prim√°rias sublinhadas e chaves estrangeiras em it√°lico.

Na rela√ß√£o AUTOMOVEIS cada autom√≥vel √© identificado por um c√≥digo nacional, de acordo com o par (nome do fabricante, modelo do carro). Os pre√ßos de tabela s√£o determinados tamb√©m pelo ano do carro. Logo, o par de atributos (C√≥digo,Ano) √© PK da tabela AUTOMOVEIS. O pa√≠s √© a refer√™ncia do pa√≠s onde aquele carro foi inicialmente produzido.

Apenas revendedoras autorizadas, cadastradas na rela√ß√£o REVENDEDORAS, podem vender os carros no mercado. Estas podem estar em diversas cidades e estados do pa√≠s e seu CGC (ou CNPJ) identifica cada uma delas. Logo, CGC √© PK de Revendedoras. Consta tamb√©m o nome da revendedora e a identidade (CPF) de seu propriet√°rio.

As pessoas que podem comprar autom√≥veis s√£o identificadas por seu CPF, e s√£o guardadas na rela√ß√£o CONSUMIDORES, que tamb√©m cont√©m nome e sobrenome, al√©m da cidade e estado em que essas pessoas moram.  Os consumidores s√£o compradores em potencial, isto √©, para comprar, √© preciso ser consumidor. Observar que um propriet√°rio de revendedora pode ser um consumidor mas nem todas as pessoas j√° realizaram alguma compra de autom√≥veis. Logo, o atributo Propriet√°rio √© FK da tabela REVENDEDORAS, referenciando valores de CPFs na tabela CONSUMIDORES.

Cada compra-e-venda de carros √© registrada na tabela NEGOCIOS, com detalhamento de data e pre√ßo pago, al√©m do CPF do comprador (FK referenciando CPF na tabela CONSUMIDORES), o CGC da loja onde comprou (FK para CGC na tabela REVENDEDORA) e do par c√≥digo e ano do autom√≥vel (FK referenciando a PK da tabela AUTOMOVEIS). Sup√µe-se que um mesmo consumidor n√£o compra um autom√≥vel de caracter√≠sticas id√™nticas em uma mesma revendora em datas iguais. Por isso, os atributos Data (da compra) e Pre√ßo (efetivamente pago) n√£o fazem parte da chave prim√°ria de NEGOCIOS.

Por fim, a rela√ß√£o GARAGEM determina quais autom√≥veis as revendoras t√™m a inten√ß√£o de negociar, e qual seu potencial de vendas, isto √©, a quantidade de carros em sua garagem que pode ser negociada, na pr√≥pria loja f√≠sica ou sob encomenda da f√°brica. As quantidades s√£o sempre positivas e n√£o nulas, isto √©, adota-se a hip√≥tese do mundo fechado (v√≠deo aula 1!). Cabe observar que a PK √© composta de tr√™s atributos, e estes comp√µem FK para outras tabelas, a saber, CGC para a PK de Revendedoras, e o C√≥digo e Ano  referenciam valores da PK em AUTOMOVEIS.

In [23]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [26]:
%sql postgresql://postgres:1234Bia.@localhost:5432/postgres

In [28]:
# Escolhe o esquema carros como o esquema em que ser√£o feitas as consultas
# (deve-se executar essa c√©lula sempre que for trocar para o esquema carros)
#%%sql
#SET SCHEMA 'carros';

SET SCHEMA 'carros'; define que as pr√≥ximas consultas usar√£o o schema carros como padr√£o, sem precisar escrever carros antes das tabelas.

In [29]:
%%sql
SET search_path TO carros;

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Exemplo de consulta:

## 1. Quais autom√≥veis italianos na base de dados?

Para rodar a consulta em SQL abaixo, basta dar PLAY nesta c√©lula!
Se quiser, pode mudar o pa√≠s e verificar as respostas (inst√¢ncias!) distintas.

In [32]:
%%sql

SELECT *
FROM automoveis
WHERE pais = 'Italia';

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[(1051, '88', 'Fiat                ', 'Elba                ', Decimal('6200.00'), 'Italia              '),
 (1051, '89', 'Fiat                ', 'Elba                ', Decimal('7600.00'), 'Italia              '),
 (1052, '93', 'Fiat                ', 'Tempra              ', Decimal('18800.00'), 'Italia              '),
 (1053, '95', 'Fiat                ', 'Tipo                ', Decimal('13000.00'), 'Italia              '),
 (1052, '94', 'Fiat                ', 'Tempra              ', Decimal('20500.00'), 'Italia              '),
 (1051, '90', 'Fiat                ', 'Elba                ', Decimal('10800.00'), 'Italia              '),
 (1052, '95', 'Fiat                ', 'Tempra              ', Decimal('34000.00'), 'Italia              '),
 (1051, '95', 'Fiat                ', 'Elba                ', Decimal('18300.00'), 'Italia              '),
 (1201, '95', 'Ferrari             ', '512                 ', Decimal('330000.00'), 'Italia              '),
 (1051, '93', 'Fiat                ', 'Elba                ', Decimal('12600.00'), 'Italia              '),
 (1202, '95', 'Ferrari             ', '348                 ', Decimal('215000.00'), 'Italia              ')]

---

Tente agora definir as seguintes consultas em SQL. Ap√≥s o √∫ltimo exerc√≠cio, disponibilizamos algumas solu√ß√µes propostas para simples confer√™ncia.

## 2. Listar os nomes dos fabricantes dos autom√≥veis na base de dados e os respectivos pa√≠ses de origem.

In [35]:
%%sql

SELECT fabricante, pais
FROM automoveis

 * postgresql://postgres:***@localhost:5432/postgres
125 rows affected.

[('Ford                ', 'EUA                 '),
 ('Fiat                ', 'Italia              '),
 ('Fiat                ', 'Italia              '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('General Motors      ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Gurgel              ', 'Brasil              '),
 ('Honda               ', 'Japao               '),
 ('Hyundai             ', 'Coreia              '),
 ('Lada                ', 'Russia              '),
 ('Lada                ', 'Russia              '),
 ('Fiat                ', 'Italia              '),
 ('Suzuki              ', 'Japao               '),
 ('Lada                ', 'Russia              '),
 ('Gurgel              ', 'Brasil              '),
 ('Peugeot             ', 'Franca              '),
 ('Fiat                ', 'Italia              '),
 ('Honda               ', 'Japao               '),
 ('Audi                ', 'Alemanha            '),
 ('Audi                ', 'Alemanha            '),
 ('BMW                 ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('General Motors      ', 'EUA                 '),
 ('Fiat                ', 'Italia              '),
 ('Ford                ', 'EUA                 '),
 ('Fiat                ', 'Italia              '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 '),
 ('Chevrolet           ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Fiat                ', 'Italia              '),
 ('Volvo               ', 'Suecia              '),
 ('Daihatsu            ', 'Coreia              '),
 ('Porsche             ', 'UK                  '),
 ('Peugeot             ', 'Franca              '),
 ('Peugeot             ', 'Franca              '),
 ('Hyundai             ', 'Coreia              '),
 ('Volvo               ', 'Suecia              '),
 ('Mercedez Benz       ', 'Alemanha            '),
 ('Renault             ', 'Franca              '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 '),
 ('Fiat                ', 'Italia              '),
 ('General Motors      ', 'EUA                 '),
 ('Lada                ', 'Russia              '),
 ('BMW                 ', 'Alemanha            '),
 ('BMW                 ', 'Alemanha            '),
 ('Ferrari             ', 'Italia              '),
 ('Land Rover          ', 'Inglaterra          '),
 ('Mitsubishi          ', 'Japao               '),
 ('Mazda               ', 'Japao               '),
 ('Renault             ', 'Franca              '),
 ('Rolls Royce         ', 'Inglaterra          '),
 ('Suzuki              ', 'Japao               '),
 ('Mercedez Benz       ', 'Alemanha            '),
 ('Toyota              ', 'Japao               '),
 ('Citroen             ', 'Franca              '),
 ('Ford                ', 'EUA                 '),
 ('Lada                ', 'Russia              '),
 ('Ford                ', 'EUA                 '),
 ('Chevrolet           ', 'EUA                 '),
 ('Honda               ', 'Japao               '),
 ('Ford                ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Chevrolet           ', 'EUA                 '),
 ('Fiat                ', 'Italia              '),
 ('Nissan              ', 'Japao               '),
 ('Suzuki              ', 'Japao               '),
 ('Mitsubishi          ', 'Japao               '),
 ('BMW                 ', 'Alemanha            '),
 ('Mazda               ', 'Japao               '),
 ('Toyota              ', 'Japao               '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Honda               ', 'Japao               '),
 ('General Motors      ', 'EUA                 '),
 ('General Motors      ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Citroen             ', 'Franca              '),
 ('Renault             ', 'Franca              '),
 ('Ferrari             ', 'Italia              '),
 ('Mazda               ', 'Japao               '),
 ('Nissan              ', 'Japao               '),
 ('Porsche             ', 'Inglaterra          '),
 ('Daewoo              ', 'Coreia              '),
 ('Citroen             ', 'Franca              '),
 ('Ford                ', 'EUA                 '),
 ('Land Rover          ', 'Inglaterra          '),
 ('Suzuki              ', 'Japao               '),
 ('Mercedes Benz       ', 'Alemanha            '),
 ('Daihatsu            ', 'Coreia              '),
 ('Toyota              ', 'Japao               '),
 ('Mercedes Benz       ', 'Alemanha            '),
 ('Mitsubishi          ', 'Japao               '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Toyota              ', 'Japao               '),
 ('Suzuki              ', 'Japao               '),
 ('Honda               ', 'Japao               '),
 ('Renault             ', 'Franca              '),
 ('Chevrolet           ', 'EUA                 '),
 ('Chevrolet           ', 'EUA                 '),
 ('Chevrolet           ', 'EUA                 '),
 ('Chevrolet           ', 'EUA                 '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Citroen             ', 'Franca              '),
 ('Citroen             ', 'Franca              '),
 ('Jac                 ', 'Brasil              '),
 ('Ford                ', 'Brasil              '),
 ('Fiat                ', 'Brasil              '),
 ('Citroen             ', 'Franca              '),
 ('Renault             ', 'Franca              '),
 ('Ford                ', 'EUA                 '),
 ('Suzuki              ', 'Japao               '),
 ('Peugeot             ', 'Franca              '),
 ('Ford                ', 'EUA                 '),
 ('Ford                ', 'EUA                 ')]

## 3. Listar os nomes das pessoas que s√£o potenciais compradoras de autom√≥veis, moradoras do estado do Rio de Janeiro, e que tamb√©m sejam propriet√°rias de revendedoras

In [46]:
%%sql
SELECT DISTINCT c.nome, c.sobrenome, c.cidade, c.estado
FROM consumidores c
JOIN revendedoras r
  ON c.cpf = r.proprietario
WHERE c.estado = 'RJ';

 * postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[('Gilberto       ', 'Velho          ', 'Rio de Janeiro           ', 'RJ'),
 ('Marcos         ', 'Paulo          ', 'Rio de Janeiro           ', 'RJ'),
 ('Vera           ', 'Fischer        ', 'Rio de Janeiro           ', 'RJ'),
 ('Benedita       ', 'da Silva       ', 'Rio de Janeiro           ', 'RJ'),
 ('Paulo          ', 'Moska          ', 'Rio de Janeiro           ', 'RJ'),
 ('Caetano        ', 'Veloso         ', 'Rio de Janeiro           ', 'RJ'),
 ('Romario        ', 'de Souza Faria ', 'Rio de Janeiro           ', 'RJ'),
 ('Claudio        ', 'Besserman Viana', 'Rio de Janeiro           ', 'RJ')]

## 4. Quais revendedoras presentes nos estados da Bahia e Pernambuco?

In [ ]:
%%sql
SELECT nome, cidade, estado
FROM revendedoras
WHERE estado = 'BA' OR estado = 'PE'
# WHERE estado IN ('BA', 'PE');

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[('Bahia Veiculos      ', 'Ilheus                   ', 'BA'),
 ('Self Car            ', 'Salvador                 ', 'BA'),
 ('Courcelles          ', 'Salvador                 ', 'BA'),
 ('Superauto           ', 'Feira de Santana         ', 'BA'),
 ('Libra               ', 'Olinda                   ', 'PE'),
 ('Caltabiano          ', 'Recife                   ', 'PE'),
 ('Fracalanza          ', 'Olinda                   ', 'PE'),
 ('Lian                ', 'Recife                   ', 'PE'),
 ('Self Car            ', 'Recife                   ', 'PE'),
 ('Cavox               ', 'Recife                   ', 'PE'),
 ('Mirage              ', 'Salvador                 ', 'BA')]

## 5. Quais s√£o os autom√≥veis no banco de dados, com valor tabelado superior a 120 mil reais, que ainda n√£o foram comprados por consumidor algum?

In [68]:
%%sql
SELECT a.codigo, a.ano, a.fabricante, a.modelo, a.preco_tabela
FROM automoveis a
WHERE a.preco_tabela >= 120000
AND NOT EXISTS (
    SELECT 1
    FROM negocios n
    WHERE n.codigo = a.codigo
      AND n.ano = a.ano
);

 * postgresql://postgres:***@localhost:5432/postgres
7 rows affected.

[(1181, '95', 'Porsche             ', '938 GTS             ', Decimal('180000.00')),
 (1201, '95', 'Ferrari             ', '512                 ', Decimal('330000.00')),
 (1241, '95', 'Rolls Royce         ', 'Corniche            ', Decimal('499000.00')),
 (1154, '95', 'BMW                 ', '840                 ', Decimal('147000.00')),
 (1202, '95', 'Ferrari             ', '348                 ', Decimal('215000.00')),
 (1182, '95', 'Porsche             ', '921 Carrera         ', Decimal('140000.00')),
 (1194, '95', 'Mercedes Benz       ', 'S500                ', Decimal('170000.00'))]

## 6. Quais revendedoras (CGC) t√™m para vender autom√≥veis dos anos 88 e 89?.

In [ ]:
%%sql

# Seguem, abaixo, as c√©lulas com as consultas resolvidas!


---


‚ùó**N√ÉO OLHAR ANTES de TENTAR FAZER** ‚ùó

## 2. Listar os nomes dos fabricantes dos autom√≥veis na base de dados e os respectivos pa√≠ses de origem.

In [ ]:
%%sql

SELECT DISTINCT Fabricante, Pais
FROM Automoveis
ORDER BY Fabricante

 * postgresql://postgres:***@localhost:5432/postgres
32 rows affected.

[('Audi                ', 'Alemanha            '),
 ('BMW                 ', 'Alemanha            '),
 ('Chevrolet           ', 'EUA                 '),
 ('Citroen             ', 'Franca              '),
 ('Daewoo              ', 'Coreia              '),
 ('Daihatsu            ', 'Coreia              '),
 ('Ferrari             ', 'Italia              '),
 ('Fiat                ', 'Italia              '),
 ('Fiat                ', 'Brasil              '),
 ('Ford                ', 'Brasil              '),
 ('Ford                ', 'EUA                 '),
 ('General Motors      ', 'EUA                 '),
 ('Gurgel              ', 'Brasil              '),
 ('Honda               ', 'Japao               '),
 ('Hyundai             ', 'Coreia              '),
 ('Jac                 ', 'Brasil              '),
 ('Lada                ', 'Russia              '),
 ('Land Rover          ', 'Inglaterra          '),
 ('Mazda               ', 'Japao               '),
 ('Mercedes Benz       ', 'Alemanha            '),
 ('Mercedez Benz       ', 'Alemanha            '),
 ('Mitsubishi          ', 'Japao               '),
 ('Nissan              ', 'Japao               '),
 ('Peugeot             ', 'Franca              '),
 ('Porsche             ', 'UK                  '),
 ('Porsche             ', 'Inglaterra          '),
 ('Renault             ', 'Franca              '),
 ('Rolls Royce         ', 'Inglaterra          '),
 ('Suzuki              ', 'Japao               '),
 ('Toyota              ', 'Japao               '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volvo               ', 'Suecia              ')]

## 3. Listar os nomes das pessoas que s√£o potenciais compradoras de autom√≥veis, moradoras do estado do Rio de Janeiro, e que tamb√©m sejam propriet√°rias de revendedoras

In [ ]:
%%sql

SELECT CPF, Nome
FROM Consumidores
WHERE Estado = 'RJ'
AND CPF IN
(SELECT proprietario FROM revendedoras)

 * postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[('8999-9      ', 'Paulo          '),
 ('7451-1      ', 'Marcos         '),
 ('6228-8      ', 'Benedita       '),
 ('8981-1      ', 'Gilberto       '),
 ('5698-8      ', 'Romario        '),
 ('6565-5      ', 'Claudio        '),
 ('6568-8      ', 'Caetano        '),
 ('8745-5      ', 'Vera           ')]

## 4. Quais revendedoras presentes nos estados da Bahia e Pernambuco?

In [ ]:
%%sql

SELECT CGC, Nome
FROM Revendedoras
WHERE Estado = 'BA'
OR Estado = 'PE'
ORDER BY Estado

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[(10030, 'Bahia Veiculos      '),
 (10100, 'Self Car            '),
 (10020, 'Courcelles          '),
 (10540, 'Superauto           '),
 (10610, 'Mirage              '),
 (10790, 'Caltabiano          '),
 (10040, 'Fracalanza          '),
 (10310, 'Lian                '),
 (10080, 'Self Car            '),
 (10420, 'Cavox               '),
 (10180, 'Libra               ')]

## 5. Quais s√£o os autom√≥veis no banco de dados, com valor tabelado superior a 120 mil reais, que ainda n√£o foram comprados por consumidor algum?

In [ ]:
%%sql

SELECT Codigo, Fabricante, Modelo
FROM Automoveis
WHERE Preco_tabela > 120000
AND (Codigo, Ano) NOT IN
(SELECT Codigo, Ano FROM Negocios)

 * postgresql://postgres:***@localhost:5432/postgres
7 rows affected.

[(1181, 'Porsche             ', '938 GTS             '),
 (1201, 'Ferrari             ', '512                 '),
 (1241, 'Rolls Royce         ', 'Corniche            '),
 (1154, 'BMW                 ', '840                 '),
 (1202, 'Ferrari             ', '348                 '),
 (1182, 'Porsche             ', '921 Carrera         '),
 (1194, 'Mercedes Benz       ', 'S500                ')]

## 6. Quais revendedoras (CGC) t√™m para vender autom√≥veis dos anos 88 e 89?.

In [ ]:
%%sql

SELECT DISTINCT CGC
FROM Garagens
WHERE Ano IN ('88', '89')
ORDER BY CGC

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[(10030,), (10200,), (10310,), (10780,), (10930,), (10980,)]